
<div class="container-fluid" style="background:white;width:100%;height:40px;display:flex;position:absolute;bottom:-50px">
    <hr class="divisorDeInfos" />
</div>
<footer id="footerPai">
    <div class="boxTituloFooter">
        <p id="footerTextPrimary">&copy; @DateTime.Today.Year - <strong>Looks Alice</strong></p>
    </div>
    <div class="boxInfosFooter">
        <div class="boxImgsFooter">
            <a href="https://www.instagram.com/looksalice_web/" target="_blank"><img src="~/Content/Images/instagram.png" class="imgsFooter" /></a>
        </div>
        <div class="boxImgsFooter">
            <a href="" target="_blank"><img src="~/Content/Images/facebook.png" class="imgsFooter" /></a>
        </div>
        <div class="boxImgsFooter">
            <a href="https://api.whatsapp.com/send?phone=5511939099757" target="_blank"> <img src="~/Content/Images/whatsapp.png" class="imgsFooter" /></a>
        </div>
        <div class="boxImgsFooter">
            <a href="https://goo.gl/maps/wNwrF52CUeQrEwUV7" target="_blank"><img src="~/Content/Images/pin.png" class="imgsFooter" /></a>
        </div>
    </div>
</footer>
