@{
    ViewBag.Title = "Error Session - LooksAlice";
}
<div class="boxFundoErrorSession">
    <h1 class="textQuicksand text-center">Erro ao gerar sessão de pagamento.</h1>
    <h2 class="textQuicksand text-center">Tente novamente em alguns instantes...</h2>
    <a href="@Url.Action("Index","Carrinhos")" class="textQuicksand">Voltar ao carrinho</a>
</div>